<div class="header-container">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
            [colspan]="3"
            class="header-container__header"
        >
            <header>
                <h1>HEADER</h1>
            </header>
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            class="header-container__user-card"
        >
            <app-header-card></app-header-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
