<div class="build-card">
    <mat-icon aria-hidden="false" class="build-card__arrow" aria-label="Example home icon">arrow_forward</mat-icon>
    <mat-card class="build-card__main " [ngClass]="{'build-card__main--active': statusstep === 'inProccess'}">
        <mat-card-header>
          <mat-card-title>{{name}}</mat-card-title>
          <mat-card-subtitle>{{statusstep}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div><b>Start:</b> {{creationtimestamp * 1000 | date: "h:mm:ss"}} </div>
            <div><b>Finish:</b> {{finishtimestamp * 1000 | date: "h:mm:ss"}}</div>
        </mat-card-content>
      </mat-card>
</div>
