.build-card {
    display: flex;
    &__main {
        max-width: 200px;
        margin: 5px;
        &--active {
            background-color: lightgreen;
        }
    }
    &__arrow {
        align-self: center;
    }
}
