<div class="toolbar-container">
    <app-build-card *ngFor="let card of cards"
        [name]="card.name"
        [creationtimestamp] = "card.creationTimeStamp"
        [finishtimestamp] = "card.finishTimeStamp"
        [statusstep] = "card.status"
    ></app-build-card>
</div>

