.header-card {
    max-width: 400px;
    width: 100%;
    padding: 5px;

    &__image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
}
