<mat-card class="header-card">
    <mat-card-header>
      <div mat-card-avatar class="header-card__image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
