<div class="container">
  <main>
    <mat-drawer-container class="main-container">
        <mat-drawer-content class="main-container__main">
            <app-header></app-header>
            <app-toolbar></app-toolbar>
            <app-terminal></app-terminal>
        </mat-drawer-content>
      </mat-drawer-container>
  </main>
</div>
