<div class="terminal-container">
    <ng-terminal #term></ng-terminal>
    <button mat-raised-button [disabled]="disabled" color="primary" class="terminal-container__btn" (click)="sendMsg()">START BUILD</button>
</div>
